<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock" data-title="Clock" style="background-color:black"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" data-text="This is your shiny new dashboard." style="background-color:black"></div>
    </li>
<!-- Map    
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="2">
      <div data-id="map" data-view="Map" data-title="Map" data-type="heat" data-color="#222222"></div>
    </li>
-->
	<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="google_calendar" data-view="GoogleCalendar" data-title="Google Calendar" style="background-color:black"></div>
    </li>

	<li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
  	  <div data-id="trafficmap" data-view="Trafficmap" data-title="Austin Traffic" data-lat="30.329548" data-long="-97.756257" data-zoom="14" ></div>
	</li>

  </ul>
<!-- Youtube>
  <span data-id="youtube" data-view="Youtube" data-title="youtube" style="padding: 0px"></span>
-->
  <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center>
</div>
